
.qualities-img{
  width:200px;
}
/* END : Home page first hero section */

/* START : Home page 3rd requirement section */
.requirements-section{
  background-color: #004d80;
  color: white;
}
/* END : Home page 3rd requirement section */


/* START : Home page 4rd newsletter section */
.home-newsletter{
  background-color: red;
  color: black;
}
.home-newsletter .form-control {
	height: 50px;
	border-color: black;
	border-radius: 20px 0 0 20px;
}
.home-newsletter .btn {
	min-height: 50px;
	border-radius: 0 20px 20px 0;
	background:black;
	color:red;
}

/* END : Home page 4rd newsletter section */


.clients-section{
  background-color:black;
}

/* END-------------------- of home page ---------------------- */

/* START-------------------- of About page ---------------------- */
.breadcrumbs-section{
  background-color: black;
  color: red;
}
 /* .col-text-center{
  background-color:black;
} */
.pt-3 {
  background-color:black;
  color: red;
}
/* .pb-4{
  background-color:red;
} */
.col-md-9{
  background-color: black;
  color: red;
}
.col-md-3{
  background-color: red;
}
.clients-section{
  color: black;
  background-color: red;
}
.about-company-section{
  background-color: black;
  color: red;
}